*.swp
.*.swp
*.d
*.db
*.o
*.a
*.DS_Store
xflow_version.h
.vscode/*
git_commit_file.tmp
build
build-mingw
build-clang
src/CMakeCache.txt
src/CMakeFiles/3.30.3/CMakeSystem.cmake
src/CMakeFiles/cmake.check_cache
src/CMakeFiles/CMakeConfigureLog.yaml
src/log/log_data/xflow-control-sim-simulation-output.log
src/log/dynamic_data_export.csv
src/log/fixed_data_export.csv
.vscode/settings.json
src/log/log_data/modbus_server.log
log/*
src/log/*
sim/log*
*.mat
*dist*
*.venv*